/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #000;
}

/* место для вашего кода */

/*
ТИПОГРАФИЯ
*/

p,
button,
span,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
h2 {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
}

.text-body-lg {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.letter-spacing-3 {
  letter-spacing: 0.3em;
}

.letter-spacing-6 {
  letter-spacing: 0.6em;
}
/*
COMMON
*/

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(0.4);
}

.welcome__picture .overlay-bg {
  background-image: url("../images/cover.jpg");
}

main > section {
  margin-bottom: 180px;
  padding-left: 50px;
  padding-right: 50px;
}

address {
  width: 240px;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.address__link {
  text-underline-offset: 4px;
}
/*
 MENU - Header and footer
*/

.main-header__menu ul {
  list-style-type: circle;
  display: flex;
  align-items: center;
}

.main-header__menu ul li {
  margin-right: 33px;
}

.main-header__menu ul li:first-child::marker {
  color: transparent;
}

.main-header__menu ul li::marker {
  margin-left: 5px;
}

footer nav.main-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 22px;
}

.main-menu__link {
  text-underline-position: under;
}

.main-menu__link.active {
  list-style-type: none;
}

/*
  MAIN HEADER
*/

.main-header {
  align-items: center;
  display: flex;
  margin-top: 92px;
  margin-bottom: 90px;
  padding: 0 50px;
}

.main-header__menu {
  width: calc(50% - 148px / 2);
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__address {
  display: flex;
  justify-content: end;
  width: calc(50% - 74px); /* 74px - Половина от ширины Логотипа */
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

/*
SECTION WELCOME
*/

.welcome__picture {
  position: relative;
  min-height: 757px;
  padding: 160px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome__picture-slogan {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 126px;
  text-transform: uppercase;
  position: relative;
}

.welcome__picture-subslogan {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.welcome__picture-subslogan p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button-bet {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 78px;

}

.lot__list {
  display: flex;
  justify-content: space-between;
}

.lot__item {
  position: relative;
  width: 430px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  margin-bottom: 30px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lot__item-title {
  color: white;
  position: relative;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
  line-height: 120%;
  text-decoration-thickness: 1px;
}

.lot__item-description {
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  line-height: 120%;
}

.lots-link {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-decoration: none;
}

.see-more {
  padding-left: 40px;
}

.about {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.section-auction {
  display: flex;
}

.auction__logo {
  min-width: 430px;
  display: flex;
  justify-content: center;
}

.section-auction picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  width: 240px;
  height: 240px;
  background-color: #000;
}

.about__text-title {
  padding: 100px 0;
  margin-bottom: 1px;
}

.about__text {
  padding-left: 25px;
}

.about__text p {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.auction-text {
  margin-bottom: 29px;
}

.img-auction {
  width: 148px;
  height: 114px;
}

footer {
  padding: 2px 50px;
}

.footer-list-item {
  display: flex;
  justify-content: space-between;
}

.footer__social-list-item {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__social-list-item img {
  height: 48px;
  width: 48px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 21px;
}

.footer__address address {
  line-height: 25px;
}
